@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Roboto Mono";
}

.name {
  font-style: normal;
  font-weight: 500;
  text-align: center;
  color: #000000;
  margin: 2rem;
  font-size: 20px;
}

.img {
  display: flex;
  justify-content: center;
}

.img img {
  margin: 2rem;
  height: 150px;
  border-radius: 50%;
}

.text {
  display: flex;
  text-align: center;
  justify-content: center;
  margin: 2rem;
}

.text p {
  font-weight: 400;
  line-height: 150%;
  font-style: normal;
  font-size: 15px;
}

.rectangle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  border-radius: 5px;
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 25px;
  font-style: normal;
  background-color: #ffe6db;
  transition: transform 0.5s ease;
}

.rectangle:hover {
  transform: scale(1.05);
}

.rectangle a {
  text-decoration: none;
  color: #e14400;
}

.linkedin a {
  color: #0053cc;
}

.rectangle h6 {
  font-weight: 400;
  line-height: 30px;
}

.linkedin {
  background-color: #d5e6ff;
}

.socialmedia {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  gap: 1rem;
  justify-content: center;
}

.socialmedia img {
  height: 40px;
transition: transform 0.2s ease;

}

.socialmedia img:hover {
  transform: scale(1.1);
}